
@{
    ViewData["Title"] = "Contact Page";
}

<div class="text-center">
    <h1 class="display-4">Contact Information</h1>
    <p>
        Contact information will be located here along with presentable styling.
    </p>
</div>


