@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to JamWithMe!</h1>
    <p>
        This page will serve as the intial welcome page. More content such as local listings and news will be present once 
        the user is logged in. Styling among other features will also be improved.
    </p>
</div>
