@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<p>
    This is merely a demo site for CPW 215: Advanced .NET Web Programming. This website is a demonstration
    of what we've learned throughout our program at Clover Park Technical College (Computer Programming). 
    This website also serves as our quarter project for the previously mentioned course.
</p>

<p>
    As of now, I am simply satisfying requirments. Content on this page will be updated.
</p>